
/* Body-element */
/* html {
    margin: 0;
    padding: 0;
} */
body {
    background-color: #FFF0DC;
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    border: solid 2px black;
    line-height: 2.6em;
}

table {
    width: 90%;
    margin: 0 auto;
}

table {
    border: 1px solid black;
}

button {
    padding: 0.6em;
    background-color: #A53860;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #71C0BB;
}
#deleteBtn:hover {
    background-color: crimson;
}
@media screen and (max-width: 800px) {
    table {
        width: 90%;
    }
    table, button {
        font-size: 0.7em;
    }
    td {
        margin: 0 1%;
        padding: 0 2px;
    }
}